<script type="text/javascript">
  $(document).ready(function(){
  $('#user_dob').datepicker({format: 'dd-mm-yyyy'});
  })
</script>

<div class="registartion_content">

<%= form_for(User, as: current_user, url: user_registration_path, html: { method: :put }) do |f| %>

<%= devise_error_messages! %>

  <div>
  <%= f.label :First_name %><br />
  <%= f.text_field :fname, autofocus: true %>
  </div>
  <div>
  <%= f.label :Last_name %><br />
  <%= f.text_field :lname, autofocus: true %>
  </div>
  <div>
  <%= f.label :DOB %><br />
  <%= f.date_field :dob, :placeholder => 'dd-mm-yyyy'%>
  </div>

  <% if devise_mapping.confirmable? && user.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>
    <br>
  <div><%= f.submit "Update" %></div>
<% end %>
<hr>

<%= link_to "Back", :back %>
</div>