<script>
$(document).ready(function(){
$("#1").click(function(){
    $("#p1").show();
  });
  $("#2").click(function(){
    $("#p2").show();
  });
  $("#3").click(function(){
    $("#p3").show();
  });
});
</script>
<script type="text/javascript">
  $(document).ready(function(){
  $('#status_date').datepicker({format: 'dd-mm-yyyy'});
  })
</script>

<style>
 #p1,#p2,#p3{
   display: none;
  }
</style>
 
<%= form_for :status, url: statuses_path do |f| %>

<div class="status_content">
  <%= link_to 'Status Index',  status_index_path  %>
  <hr>
    <table>
      <tr>
        <td><strong><%= f.label :Subject %> :</strong></td>
        <td><%= f.text_field :subject %></td>
      </tr>
    </table>
    <hr>
    <table>
      <tr>
        <td><strong><%= f.label :Date %> :</strong></td>
        <td><%= f.date_field :date, :placeholder => 'dd-mm-yyyy'%></td>
      </tr>  
      <tr>
        <td><strong><%= f.label :In_time %> :</strong></td>
        <td><%= f.time_select :intime, {:ampm => true} %></td>
      </tr>
      <tr>
        <td><strong><%= f.label :out_time %> :</strong></td>
        <td><%= f.time_select :outtime ,{:ampm => true}%></td>
      </tr>
      <tr>
        <td><strong><%= f.label :break_time %> :</strong></td>
        <td id="1"><%= f.time_field :breaktime %><span id="p1">(e.g.- for 30 min = 00.30)</span></td>
      </tr>
      <tr>
        <td><strong><%= f.label :meeting_time %> :</strong></td>
        <td id="2"><%= f.time_field :meetingtime %><span id="p2">(e.g.- for 1 hour 45 min = 01.45)</span></td>
      </tr>
      <tr>
        <td><strong><%= f.label :total_working_hours %> :</strong></td>
        <td id="3"><%= f.time_field :workinghours %><span id="p3">(e.g.- for 8 hour = 08.00)</span></td>
      </tr>
    </table>
    <hr>
    <table> 
      <tr>
        <td><strong><%= f.label :co_ordinate %> :</b></td>
        <td><%= f.text_field :coordinate %></td>
      </tr>
    </table>
    <hr>
    <table>  
      <tr>
        <td><strong><%= f.label :text %> :</strong></td>
        <td><%= f.text_field :text %></td>
      </tr>
    </table>
    <p>
      <%= f.submit %>
    </p>
      </div>
   
  <% end %>
