<!DOCTYPE html>
<html>
  <head>

 <script type="text/javascript">
  $(document).ready(function(){
    $('[data-behaviour~=datepicker]').datepicker({format: 'dd-mm-yyyy'});
  })
</script>

    
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
      $("input").focus(function(){
      $(this).css("background-color","#cccccc");
      });
      $("input").blur(function(){
      $(this).css("background-color","#ffffff");
      });
      });
    </script>
     </head>
  <body>
  
  <%= form_for :status, url: statuses_path do |f| %>

  <div class="status_content">
    <table>
      <tr>
        <td><strong><%= f.label :Subject %> :</strong></td>
        <td><%= f.text_field :subject %></td>
      </tr>
    </table>
    <hr>
    <table>
      <tr>
        <td><strong><%= f.label :Date %> :</strong></td>
        <td><%= f.date_field :date, 'data-behaviour' => 'datepicker' %></td>
      </tr>  
      <tr>
        <td><strong><%= f.label :In_time %> :</strong></td>
        <td><%= f.time_field :intime %></td>
      </tr>
      <tr>
        <td><strong><%= f.label :out_time %> :</strong></td>
        <td><%= f.time_field :outtime %></td>
      </tr>
      <tr>
        <td><strong><%= f.label :break_time %> :</strong></td>
        <td><%= f.time_field :breaktime %> (e.g.- for 30 min = 00.30)</td>
      </tr>
      <tr>
        <td><strong><%= f.label :meeting_time %> :</strong></td>
        <td><%= f.time_field :meetingtime %>(e.g.- for 1 hour 45 min = 01.45)</td>
      </tr>
      <tr>
        <td><strong><%= f.label :total_working_hours %> :</strong></td>
        <td><%= f.time_field :workinghours %>(e.g.- for 8 hour = 08.00)</td>
      </tr>
    </table>
    <hr>
    <table> 
      <tr>
        <td><strong><%= f.label :co_ordinate %> :</b></td>
        <td><%= f.text_field :coordinate %></td>
      </tr>
    </table>
    <hr>
    <table>  
      <tr>
        <td><strong><%= f.label :text %> :</strong></td>
        <td><%= f.text_field :text %></td>
      </tr>
    </table>
    <p>
      <%= f.submit %>
    </p>
      </div>
  <% end %>
  
  
</body>
</html>
